// 基础色
$error:#f53131;
$success:#26bf73;
$blue:#0080ff;
$blue2:#3730fe;
$warn:#ffb31a;
$gray:#828a99;

//黑暗模式
$darkBg:#080d0f;
$darkListBg:#11151f;
$darkTbBg:#151b26;
$darkBarBg:#1f2533;
$darkLineBg:#222b3d;
$darkInputBarBg:#222b3d;

$darkFontColor1:#f0f2f5;
$darkFontColor2:#a1a783;
$darkFontColor3:#6c7380;
// 这几个透明度？？？
$darkFontColor4:rgba(#8a8f99,.5);
$darkFontColor5:rgba(#8a8f99,.5);
$darkFontColor6:rgba(#8a8f99,.5);


//白天模式
$whiteBg:#f0f2f5;
$whiteListBg:#fff;
$whiteTbBg:#fff;
$whiteBarBg:#fff;
$whiteLineBg:#ebedf0;
$whiteLineBg2:#dcdfe6;
$whiteInputBarBg:#f0f2f5;

$whiteFontColor1:#000;
$whiteFontColor2:#a1a783;
$whiteFontColor3:#6c7380;
// 这几个透明度？？？
$whiteFontColor4:rgba(#8a8f99,.5);
$whiteFontColor5:rgba(#8a8f99,.5);
$whiteFontColor6:rgba(#8a8f99,.5);
