@font-face {
  font-family: 'iconfont';  /* project id 1871305 */
  src: url('//at.alicdn.com/t/font_1871305_os1p3fvin6n.eot');
  src: url('//at.alicdn.com/t/font_1871305_os1p3fvin6n.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1871305_os1p3fvin6n.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1871305_os1p3fvin6n.woff') format('woff'),
  url('//at.alicdn.com/t/font_1871305_os1p3fvin6n.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1871305_os1p3fvin6n.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .iconfriends:before {
//   content: "\e601";
// }

// .iconchoice:before {
//   content: "\e602";
// }

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
